.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5) 100%);
  height: 400px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#filme-principal {
  font-size: 16px;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5) 100%),
    url("./capa-houseofcards.jpg");
  height: 400px;
  background-size: 100% 100%;
  /* background-size: */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
  /* width: 100%; */
}

.filme-principal .titulo {
  margin-top: 10%;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.detalhes {
  font-size: 20px;
  margin-bottom: 0px;
}

.botao {
  background-color: rgb(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}
